{
  "openapi": "3.0.1",
  "info": {
    "title": "AzureChangeAnalysisManagementClient",
    "version": "2020-04-01-preview"
  },
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeAnalysis/profile/{profileName}": {
      "get": {
        "tags": [
          "ConfigurationProfile"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationProfileResource"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "put": {
        "tags": [
          "ConfigurationProfile"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationProfileResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationProfileResource"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "patch": {
        "tags": [
          "ConfigurationProfile"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationProfileResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationProfileResource"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "ConfigurationProfile"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ProfileNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "204": {
            "description": "No Content - the specified resource was not found."
          },
          "default": {
            "$ref": "#/components/schemas/Error"
          }
        }
      }
    },
    "/providers/Microsoft.ChangeAnalysis/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceProviderOperationList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceProviderOperationList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceProviderOperationList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/schemas/Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResourceIdentity": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "None",
              "SystemAssigned"
            ],
            "type": "string",
            "nullable": true,
            "x-ms-enum": {
              "name": "ManagedIdentityTypes",
              "modelAsString": true
            }
          },
          "principalId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "tenantId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "AzureMonitorWorkspaceProperties": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string",
            "nullable": true
          },
          "workspaceResourceId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "NotificationsState": {
        "enum": [
          "None",
          "Enabled",
          "Disabled"
        ],
        "type": "string",
        "x-ms-enum": {
          "name": "NotificationsState",
          "modelAsString": true
        }
      },
      "NotificationSettings": {
        "type": "object",
        "properties": {
          "azureMonitorWorkspaceProperties": {
            "$ref": "#/components/schemas/AzureMonitorWorkspaceProperties"
          },
          "activationState": {
            "$ref": "#/components/schemas/NotificationsState"
          }
        }
      },
      "ConfigurationProfileResourceProperties": {
        "type": "object",
        "properties": {
          "notifications": {
            "$ref": "#/components/schemas/NotificationSettings"
          },
          "lastModifiedBy": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "lastModifiedTime": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "createdTime": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "ConfigurationProfileResource": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/ResourceIdentity"
          },
          "properties": {
            "$ref": "#/components/schemas/ConfigurationProfileResourceProperties"
          }
        }
      },
      "Error": {
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          }
        },
        "description": "Unexpected Azure Change Analysis Resource Provider Error."
      },
      "ResourceProviderOperationDisplay": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "nullable": true
          },
          "resource": {
            "type": "string",
            "nullable": true
          },
          "operation": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResourceProviderOperationDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "display": {
            "$ref": "#/components/schemas/ResourceProviderOperationDisplay"
          }
        }
      },
      "ResourceProviderOperationList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceProviderOperationDefinition"
            },
            "nullable": true
          },
          "nextLink": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Resource": {
        "required": [
          "location"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The resource ID.",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "The name of the resource.",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "The type of the resource.",
            "readOnly": true
          },
          "location": {
            "type": "string",
            "description": "The location of the resource. This cannot be changed after the resource is created.",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "The tags of the resource."
          }
        },
        "description": "An Azure resource.",
        "x-ms-azure-resource": true
      }
    },
    "parameters": {
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "description": "The Microsoft Azure subscription ID.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ProfileNameParameter": {
        "name": "profileName",
        "in": "path",
        "description": "The name of the configuration profile. The profile name should be set to 'default', all other names will be overwritten.",
        "required": true,
        "schema": {
          "pattern": "^(?!.*-$)[^-][a-zA-Z0-9-]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "description": "The client API version.",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "type": "oauth2",
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}